<h1>Editing Book</h1>
<%= form_with model: @book, local:true do |f| %>
<!-- 空白時エラー出力ここから  -->
  <%= render 'layouts/error_messages', model: f.object %>
<!-- 空白時エラー出力ここまで  -->
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %></div>
  </div>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %></div>
  <div class="actions"><%= f.submit 'Update Book' %>
  </div>
<% end %>

<%= link_to "Show", book_path(@book) %>
<span>|</span>
<a href="/books">Back</a>